# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Build & distribution
build/
dist/
*.spec
*.dmg
*.zip
*.app/

# macOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp
